<h1>I love Burgers!</h1>


  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
          <li>{{burger_name}}</li>
          <button type = "button" class="btn btn-primary eaten" data-id="{{id}}">Eat it!!</button>
            {{!-- <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
              </form>
            </div> --}}
          {{/unless}}
        {{/each}}
        </ul>
      </div>

      <div class="col-12 col-md-6">
        <h2>Burgers Eaten</h2>
        {{#each burgers}}
          {{#if this.devoured}}
          <li> {{this.burger_name}}</li>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>


<h2>Add A Burger Option</h2>

<div class="row">
  <div class="col-12">
    <form class= "insert-burger">

      <div class = "form-group">
        <label for = "addburger">Add A Tasty Burger</label>
        
    <input type="text" id="addburger" name="burger_name" placeholder="Great Tasty Burger">
      </div>
      <button type="submit" class = "btn btn-primary">Add Your Burger</button>
    </form>
  </div>
</div>